$black: #000000;
$white: #ffffff;
$green: #3C8D3A;
$creamwhite: #FAFBFA;

// CUSTOM THEME
$theme-colors: (
  "white": $white,
  "green": $green,
  "creamwhite": $creamwhite
);


// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
) !default;


// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) !default;

// Spacers
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .5,
  2: $spacer,
  3: $spacer * 1.5,
  4: $spacer * 3,
  5: $spacer * 5.5,
);

