.first_card {
    margin-top: 100px;
}

.green_header {
    color: $green;
}

.beige_back {
    background-color: $creamwhite;
}

.white_back {
    background-color: $white;
}

// #core_values img {
//     float: left;
// }
