.footer {
    // position: fixed;
    margin-top: 10px;
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    // border: 1px solid black;

    p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Work Sans';
        font-weight: 300;
        font-size: 16px;
        line-height: 18.77px;
    }
}

#footer-sub {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 23.81px;
}